* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../images/complain-bg.jpg');
    background-size:cover;
}

nav {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 3;
}

nav .right a {
    color: white;
}

nav .right .active {
    border-bottom: 2px solid #fff;
}

nav .right a::before {
    background: rgba(255, 255, 255, 0.11);
}

nav .right a:hover::before {
    border: 1px solid white;
}

.complain-container {
    display: flex;
    flex: 1;
    position: relative;

    
}

.complain-left {
    width: 50%;
  
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.complain-right {
    width: 50%;
}

.complain-form-container {
    background: linear-gradient(125deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -42%);
    background-color: rgba(255, 255, 255, 0.80);
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    padding: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
 

    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.input-field {
    width: 90%;
    display: flex;
    flex-direction: column;
}

input[type=text],
input[type=email],
select {
    
    margin: 6px 0px;
    background-color: white;
    color: black;
}

input[type=submit] {
 
    width: 30%;
    background-color: #000000;
    color: white;
    font-weight: bolder;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

    transition: 0.5s ease;

}

input[type=submit]:hover {

    color: #ffffff;
    background-color: #000000;
    opacity: 2px;
    letter-spacing: 3px;
    transition: 0.5s ease;
}



input[type=text],
textarea,
select {
   
    border: 1px solid #ccc;
   
    resize: none;
    background-color: rgba(255,255,255,0.07);
    border-radius: 4px;
    margin: 6px 0px;
    padding: 8px 1px;
    font-size: 1rem;
}



.view-box {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%, -50%);
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);

    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.view-box a {

    text-decoration: none;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
    font-weight: bolder;
}

.view-box a:hover {

    letter-spacing: 2px;
    background-color: #e73c7e;
    transition: 0.3s ease;
}

label {
    font-weight: bolder;
    color: #000000;
    margin-bottom: 5px;
}

.complain-form-container h3 {
    font-size: 25px;
}

hr{
    
    margin-bottom: 20px;
}

::placeholder{
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

select{
    color: rgb(0, 0, 0);
    padding-left: 10px;

}
option{
    
    background-color:#e73c7e;
}