* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    z-index: 3;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
}

nav .right a {
    color: white;
}

nav .right .active {
    border-bottom: 2px solid #fff;
}

nav .right a::before {
    background: transparent;
}

nav .right a:hover::before {
    border: 2px solid white;
}

h1 {

    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

p {

    letter-spacing: 1px;
    font-size: 14px;
    color: #333333;
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}


.inner-header {
    height: 30vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card h4 {
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: bolder;
    
}

.card h3 {
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    margin-bottom: 1rem;
    font-weight: bolder;
}

.card p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 70%;
    margin-bottom: 1rem;
    font-weight: 400;
    letter-spacing: 3px;
}




.contact-container {
    display: flex;
    width: 100%;
    flex: 1;
}

.contact-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.contact-left h2 {
    font-size: 2rem;
}


.form-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inputs {
    width: 100%;
}

.form-container input[type='text'],
textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    outline: none;
    resize: none;
    flex: 1;
    padding: 5%;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

.form-container textarea {
    margin: 5% 0;
}

.form-container input[type='submit'] {
    padding: 2%;
    background-color: transparent;
    border: 1px solid black;
    width: 50%;
    transition: 0.3s ease;
    border-radius: 5px;
}

.form-container input[type='submit']:hover {
    width: 60%;
    color: white;
    background: linear-gradient(60deg, rgb(58, 91, 183) 0%, rgba(0, 172, 193, 1) 100%);
}


.contact-right {
    width: 60%;
    display: flex;
    flex: 1;

}

.right-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon {
    height: 50px;
    width: auto;
}

.contact-right-l {
    display: flex;
    width: 20%;
}

.contact-right-l img{
    width: 20%;
    height: auto;
}

.contact-right-r {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
}

.cards {
    width: 48%;
    height: 95%;
    padding: 0 1%;
    overflow: hidden;
}

#ashu-card {
    padding-left: 3%;
}

#mihir-card {
    padding-right: 3%;
}

.info-container {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
}

.info-img{
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.info-img img {
    width: 90%;
    height: 95%;
    object-fit: contain;
}

.info-icon-contact {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;  
}

.info-icon-contact img{ 
    width: 2rem;
    height: 2rem;
}

.icon-text {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.text-container {
    height: 20%;
    width: 100%;
}






