* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav .right a {
    color: black;
}

nav .right .active {
    border-bottom: 2px solid #5cdb95;
}

nav .right a::before {
    background: #5cdb95;
}

nav .right a:hover::before {
    border: 2px solid #5cdb95;
}

.maintenance-container {
    background-color: #edf5e1;
    display: flex;
    height: calc(100vh - 8vw);
    width: 100vw;
    flex: 1;
    
}

.mt-left {
    width: 70%;
    /* height: 100%; */
    background-color: #05386bbf;
}

.mt-right {
    width: 30%;
    /* height: 100%; */
    /* background-color: #15fec4; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mt-right-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mt-right-text p {
    text-align: left;
    /* background-color: green; */
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.mt-right-text h5 {
    text-align: center;
    /* background-color: rgb(151, 185, 29); */
    width: 80%;
    margin-bottom: 1rem;
}

.mt-right-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.mt-right form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 80%;
    padding: 0.5rem;
    /* max-width: 10%; */

}

.mt-right-form img{
    height: 400px;
    width: auto;
}



.mt-left h3 {

    letter-spacing: 3px;
    padding: 20px;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;


}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    
}
.only-table-main{
    overflow-y: scroll;
    height: 80%;
    width: 100%;

}
thead th{
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: #5cdb95;
}

td,
th {

    /* border: 2px soild red; */
    text-align: center;
    padding: 8px;
    letter-spacing: 2px;
}

tbody{
    height: 60%;
}

tr:nth-child(even) {

    background-color: #8ee4af;
}

.normal-text {

    margin-top: 40px;
    padding: 60px;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 2px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
  }

  ::-webkit-scrollbar-thumb {
    background: #232325 ; 
    
  }