body {
    overflow: hidden;
}

nav {
    position: relative;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;

    padding: 1% 5% 1%;
    box-shadow: 0 2px 8px -2px rgb(0 0 0 / 20%);
    overflow: hidden;
}

/*
inline css in index.css to remove box shadow
*/

/* 

HEIGHT OF NAVBAR :-
(2% + 2rem + 1.2rem)

PAGE HEIGHT MINUS NAVBAR :-
height: calc(100% - (2% + 2rem + 1.2rem));

*/

nav .left {
    position: relative;
    height: 3.5rem;
    width: 20%;
}

.left img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200%;
    width: auto;
}

nav .right {
    overflow: hidden;
    display: flex;
    align-items: center;
}

nav .right a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 1rem;
    outline: none;
    overflow: hidden;
    margin: 0 1rem;
}

nav .right .active {
    border-radius: 7px;
    border-bottom: 2px solid #ff436a;
}

nav .right a::before {
    content: "";
    height: 3.7rem;
    background-color: #ff436a;
    border-radius: 7px;
    position: absolute;
    height: calc(100% - 3px);
    width: calc(100% - 4px);
    z-index: -1;
    top: 110%;
    left: 0%;
    transition: 0.4s ease;

}

nav .right a:hover::before {
   top: 0;
   border: 2px solid #ff436a;
}

nav .right a:hover {
    color: white;
}

.user-profile{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
}

.user-profile img{
height: 2rem;
}

#sideNav {
    position: absolute;
    right: -20%;
    height: 100vh;
    width: 20%;
    background-color:#ff436a ;
    transition: 0.4s ease-in-out;
    z-index: 3;
    display: flex;
    flex-direction: row-reverse;
}

.cross {
   
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    cursor: pointer;
    margin: 2rem 1rem 0 0 ;
}

.user-profile-data{
    color: black;
    margin-top: 7rem;
    width: 80%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    
}

.user-profile-data h6{
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.user-btn {
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
}

.btn1{
    width: 100%;
    background-color: aqua;
    text-align: center;  
}

.user-btn a {
    background-color: black;
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    box-shadow: 0 2px 8px -2px rgb(0 0 0 / 20%);
    transition: 0.5s ease;

}

.user-btn a:hover{

color: black;
background-color: white;

}




/* pop up */

.dialogue-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    z-index: 4;
    transition: 0.2s ease-in-out;
    
}
.box{
    background-color: antiquewhite;
    padding: 1rem;
    color: black;
    border-radius: 1rem;
}

.box h4{
    color: black;
}
.box-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}
.box button{
    padding: 0.5rem;
    font-size: 1rem;
    color: black;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    
}

.blur {
    filter: blur(2px);
    pointer-events: none; 
}

.secretary-div h3{

    text-align: center;
    margin-top: 1rem;
}

.error::placeholder {
    color: red;
}