/* body {
    height: 100%;
} */

body {
    overflow: hidden;
}

nav {
    position: relative;
    /* top: 0;
    left: 0; */
    /* background-color: red; */
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    /* margin-left: 10vw;
    margin-right: 10vw; */
    padding: 1% 5% 1%;
    box-shadow: 0 2px 8px -2px rgb(0 0 0 / 20%);
    overflow: hidden;
    /* background: transparent; */
    /* background-color: lightblue; */
}

/*
inline css in index.css to remove box shadow
*/

/* 

HEIGHT OF NAVBAR :-
(2% + 2rem + 1.2rem)

PAGE HEIGHT MINUS NAVBAR :-
height: calc(100% - (2% + 2rem + 1.2rem));

*/

nav .left {
    position: relative;
    height: 3.5rem;
    width: 20%;
    /* background-color: blueviolet; */
}

.left img{
    /* background-color: #ff436a; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200%;
    width: auto;
}

nav .right {
    overflow: hidden;
    display: flex;
    align-items: center;
}

nav .right a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 1rem;
    outline: none;
    overflow: hidden;
    margin: 0 1rem;
}

nav .right .active {
    border-radius: 7px;
    border-bottom: 2px solid #ff436a;
}

nav .right a::before {
    content: "";
    /* width: 6.5rem;
    height: 3.7rem; */
    /* border: 2px solid #ff436a; */
    background-color: #ff436a;
    border-radius: 7px;
    position: absolute;
    height: calc(100% - 3px);
    width: calc(100% - 4px);
    z-index: -1;
    top: 110%;
    left: 0%;
    /* margin-left: -1rem;
    margin-top: 3rem; */
    transition: 0.4s ease;

}

nav .right a:hover::before {
   top: 0;
   border: 2px solid #ff436a;
}

nav .right a:hover {
    color: white;
}

.user-profile{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
}

.user-profile img{
height: 2rem;
}

#sideNav {
    position: absolute;
    /* opacity: 0.5; */
    right: -20%;
    height: 100vh;
    width: 20%;
    background-color:#ff436a ;
    transition: 0.4s ease-in-out;
    z-index: 3;
    /* padding: 2%; */
    display: flex;
    flex-direction: row-reverse;
}

.cross {
    position: relative;
    top: -2%;
    /* left: 35%; */
    height: 2rem;
    width: 2rem;
    /* background-color: red; */
    font-size: 2rem;
    cursor: pointer;
    margin: 2rem 2rem 0 0 ;
}

.user-profile-data{
    
    position: relative;
    top: 10%;
    /* left: 30%; */
    color: black;
    margin-top: 7rem;
    width: 50rem;
    padding: 15%;
    /* background-color: blueviolet; */
    
}

.user-profile-data h6{
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.btn1{

    
    
    margin-top: 3rem; 
    text-align: center;
    
    
}

.btn1 a {
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    /* border: 1px solid white; */
    border-radius: 0.5rem;
    text-decoration: none;
    box-shadow: 0 2px 8px -2px rgb(0 0 0 / 20%);
    transition: 0.5s ease;

}

.btn1 a:hover{
font-size: 1.5rem;
padding: 1rem;
color: black;
background-color: white;

}