* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.sec-container {
    background-color: #232325;
    display: flex;
    height: calc(100vh - 8vw);
    width: 100vw;
    flex: 1;
    
}

.sec-left {
    width: 70%;
    /* height: 100%; */
    background-color: #484748;
}

.sec-right {
    width: 30%;
    /* height: 100%; */
    /* background-color: #15fec4; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-right-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-right-text p {
    text-align: left;
    /* background-color: green; */
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.sec-right-text h5 {
    text-align: center;
    /* background-color: rgb(151, 185, 29); */
    width: 80%;
    margin-bottom: 1rem;
}

.sec-right-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sec-right form {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
    width: 80%;
    padding: 0.5rem;
    /* background-color: red; */

}


.sec-right form label {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}



.sec-right .sec-right-form form input[type=date],
input[type=text] {
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 6px 0px;
    padding: 10px 5px;
    font-size: 1rem;


}

.sec-right .sec-right-form select {
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 6px 0px;
    font-size: 1rem;
    padding: 10px 5px;
}

.sec-right .sec-right-form form input[type=submit] {
    width: 70%;
    background-color: #bfbdc8;
    color: white;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    border: none;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s ease;
    font-size: 1rem;
}

.sec-right .sec-right-form form input[type=submit]:hover {

    /* font-size: 20px; */
    letter-spacing: 3px;
    color: black;

}







.sec-left h3 {

    letter-spacing: 3px;
    padding: 20px;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;


}

table {
    /* margin-top: 10px; */
    border-collapse: collapse;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

.only-table-main{
    overflow-y: scroll;
    height: 80%;
    width: 100%;

}
thead th{
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: black;
}
td,
th {

    border: 2px soild red;
    text-align: center;
    padding: 8px;
    letter-spacing: 2px;
}

tr:nth-child(even) {

    background-color: #232325;
}
tbody{
    height: 60%;
}

.normal-text {

    margin-top: 40px;
    padding: 60px;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 2px;
    background-color: rgb(255, 255, 255);
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*
-- TO DO LIST --
button animation
button size fix


*/


.select-btn{

    font-size: 1rem;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    /* margin-left: 2rem; */
}

.select-btn:hover{
    background-color: white;
    color: black;
}

/* .green:hover{
    background-color: green;
} */