* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    flex: 1;    
}

.left-main {
    width: 60%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.heading-right {
    position: absolute;
    left: 5%;
    top: 15%;
}

.heading-left {
    font-size: 3rem;
    /* margin-top: 6%; */
    margin-bottom: 3%;
    text-align: center;
}

.right-main {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aquamarine; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.right-main img {
    width: 100%;
    padding: 15px;
}

input[type=email],input[type=password],select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    background-color: rgba(229, 228, 228, 0.6);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], input[type="tel"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid transparent;
    background-color: rgba(229, 228, 228, 0.6);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=button], button {
    width: 50%;
    background-color: #8267ff;
    color: white;
    font-weight: bolder;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

input[type=submit]:hover {
    background-color: #8367ff99;
    color: black;
    letter-spacing: 2px;
    transition: 0.1s ease;
}

.tandc {
    margin: 2% 0;
}

.tandc span {
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin: 10px 2px;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* .user-details .input-box input{
width: 100%;

} */

.form-container {
    position: relative;
    /* background-color: yellow; */
    width: 50%;
    overflow: hidden;
}

.login-form-1{
    position: relative;
    width:  100%;
    transition: 0.5s;
}

.user-details {
    width: 100%;
    /* background-color: rgb(255, 20, 20); */
    display: flex;
    justify-content: space-around;
}

.login-form-2{
    position: absolute;
    width: 100%;
    /* left: 150%; */
    left: 150%;
    top: 0;
    transition: 0.5s;
}

.signup-button {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.signup-button input {
    width: 30%;
}

.login-form-2 .hide{
    display: none;
}
.error::placeholder {

    color: red;

}