* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url('../images/complain-bg-1.jpg');
    background-size:cover;
}

nav .right a {
    color: black;
}

nav .right .active {
    border-bottom: 2px solid #fff;
}

nav .right a::before {
    background: rgba(255, 255, 255, 0.11);
}

nav .right a:hover::before {
    border: 1px solid white;
}

.view-complain-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - (2% + 3.5rem + 1.2rem  ));
    justify-content: center;
    align-items: center;
    width: 100%;
    

}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.table-container{
    
    height: 80%;
    width: 95%;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    margin-top: 1rem;
}

.only-table {
    overflow-y: auto;
    height: 100%;
    width: 100%;

}

table { 
	width: 100%; 
	border-collapse: collapse; 
}

thead th { 
    background-color: white;
	color: black; 
	font-weight: bold; 
    z-index: 2;
    position: sticky;
    top: 0;
	}
 tbody
 {
    height: 70%;
 }

 th{
    border: 1px solid #ccc; 
	text-align: center; 
	font-size: 18px;
    color: black;
    padding: 1rem 1rem;
    background-color: white;
 }

td { 
	border: 1px solid #ccc; 
	text-align: center; 
	font-size: 18px;
    color: black;
    padding: 1rem 1rem;
	}

.view-box {
    
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    width: 40%;
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);

    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}

.view-box a {

    text-decoration: none;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    padding: 10px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s ease;
    font-weight: bolder;
    width: 45%;
    text-align: center;
}

.view-box a:hover {

  
    letter-spacing: 2px;
    background-color: #e73c7e;
    transition: 0.2s ease;

}

.th-1{
    width: 10%;
}
.th-2 {
    width: 10%;
    
}

.th-4 ,.th-3{
   
    width: 30%;
}

