{% url 'index' as index %}
{% url 'complain' as complain %}
{% url 'add_complain' as add_complain %}
{% url 'maintenance' as maintenance %}
{% url 'contact_us' as contact_us %}
{% url 'event' as event %}
{% url 'sec_main' as sec_main %}
{% url 'sec_event' as sec_event %}
{% url 'sec_complain' as sec_complain %}

<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <title>{%block titleblock%} Navbar base {%endblock%}</title>

    <link rel="stylesheet" href="{% static 'css/nav.css'%}">

    {%block cssblock%} {%endblock%}


    <link
        href="https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Montserrat:wght@300&family=Oswald:wght@500&family=Source+Code+Pro&display=swap"
        rel="stylesheet">


</head>

<body>


    <script>

        function admin() {
            window.open("http://127.0.0.1:8000/admin", "_blank");
        }

        function openSideNav() {
            document.getElementById("sideNav").style.right = "0";
        }

        function closeSideNav() {
            document.getElementById("sideNav").style.right = "-20%";
        }

    </script>

    <nav>
        <div class="left" onclick="admin()">
            <!-- LOGO -->
            <img src="{% static 'images/logo1.png' %}" alt="LOGO">
        </div>
        <div class="right">
            <a href="{% url 'index' %}" class="{% if request.path == index %} active {%endif%}">Home</a>
            {% if user_type.user_type == 2 %}
            <a href="{% url 'sec_complain' %}"
                class="{% if request.path == sec_complain %} active {%endif%}">Complain</a>
            <a href="{% url 'sec_event' %}" class="{% if request.path == sec_event %} active {%endif%}">Event</a>
            <a href="{% url 'sec_main' %}" class="{% if request.path == sec_main %} active {%endif%}">Maintenance</a>
            {% else %}
            <a href="{% url 'complain' %}"
                class="{% if request.path == complain or request.path == add_complain %} active {%endif%}">Complain</a>
            <a href="{% url 'event' %}" class="{% if request.path == event %} active {%endif%}">Event</a>
            <a href="{% url 'maintenance' %}"
                class="{% if request.path == maintenance %} active {%endif%}">Maintenance</a>
            {% endif %}
            <a href="{% url 'contact_us' %}" class="{% if request.path == contact_us %} active {%endif%}">Contact Us</a>
            <div class="user-profile" onclick="openSideNav()">
                <img src="{% static 'images/user.png' %}" alt="Illustration">
            </div>
        </div>
    </nav>

    <div id="sideNav">
        <span onclick="closeSideNav()" class="cross">
            &chi;
        </span>

        <div class="user-profile-data">
            {% if request.user.is_authenticated %}
            <h6>Name : {{request.user.first_name}} {{request.user.last_name}}</h6>
            <h6>Username : {{request.user}}</h6>
            <h6>Email : {{request.user.email}}</h6>
            {% endif %}


            <div class="user-btn">
                {% if request.user.is_authenticated %}
                <a href="{% url 'user_profile' %}">User Profile</a>
                <a href="{% url 'logout' %}">Logout</a>

                {% else %}
                <a href="{% url 'signup' %}">Sign up </a>
                {% endif %}
            </div>

        </div>

    </div>

    {%block mainblock%}
    {%endblock%}


</body>

</html>