{% extends "base.html" %}
{% load static %}
{%block titleblock%} SocioClub | Contact Us {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/contact.css'%}"> 
{%endblock%}



{% block mainblock %}

<div class="header">

    <!--Content before waves-->
    <div class="inner-header flex">

        <div class="card">
            <h4>WHO WE ARE </h4>
            <p>
                Socioclub is a Professional Soceity management Platform. Here we will provide you only interesting
                content, which you will like very much. We're dedicated to providing you the best of Soceity management,
                with a focus on dependability and maintenance events . We're working to turn our passion for Soceity
                management into a booming online website. We hope you enjoy our Soceity management as much as we enjoy
                offering them to you.


                love.
            </p>
            <h3 class="cardh3">Thanks For Visiting Our Site</h3>

        </div>
    </div>

    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>



<div class="contact-container">

    <div class="contact-left">
        <h2>Contact Us</h2>
        <p>We Would love to here from you</p>
        <div class="form-container">
            <form method="POST" action="{% url 'contact_us' %}">
                {% csrf_token %}
                {% if success %}
                <h3>Thanks for the Feedback</h3>
                {% else %}

                <div class="inputs">
                    <input type="text" class="input-row" name="contact_subject" placeholder="Subject">
                    <textarea id="subject" class="input-row" name="contact_description" placeholder="Description"
                        name="subject" placeholder="Write something.." required></textarea>
                </div>

                {% if request.user.is_authenticated %}
                <input type="submit" value="Send Message">

                {% else %}
                <h3> You Need to login first</h3>
                {% endif %}
                {% endif %}
            </form>
        </div>

    </div>

    <div class="contact-right">
        <div class="contact-right-r">

            <div class="cards" id="ashu-card">

                <div class="info-container">

                    <div class="info-img">
                        <img src="{% static 'images/ashu-avatar.png' %}" id="ashu-img" alt="">

                    </div>

                    <div class="info-icon-contact">
                        <div class="icon-text">
                            <a href="https://github.com/nemesis12-1" target="_blank"> <img class="icon"
                                    src="{% static 'images/github.png' %}" alt=""></a>
                            <p>Github </p>
                        </div>
                        <div class="icon-text">
                            <a href="mailto:ashutoshsahu341@gmail.com"> <img class="icon"
                                    src="{% static 'images/gmail.png' %}" alt=""></a>
                            <p>Gmail</p>
                        </div>
                        <div class="icon-text">
                            <a href="https://www.instagram.com/_.ashu._s/"> <img class="icon"
                                    src="{% static 'images/instagram.png' %}" alt=""></a>
                            <p>Instagram</p>
                        </div>
                    </div>
                </div>

                <div class="text-container">
                    <h4>Ashutoh Sahu</h4>
                    <p>I’m a designer who codes and a web developer. I spend my whole day, practically every day experimenting with HTML, CSS, and JavaScript</p>

                </div>



            </div>

            <div class="cards" id="mihir-card">

                <div class="info-container">

                    <div class="info-img">
                        <img src="{% static 'images/mihir-avatar.png' %}" id="mihir-img" alt="Mihir ~ Creator">
                    </div>

                    <div class="info-icon-contact">

                        <div class="icon-text">
                            <a href="https://github.com/RadiiSol" target="_blank"> <img class="icon"
                                    src="{% static 'images/github.png' %}" alt="">
                            </a>
                            <p>Github </p>

                        </div>

                        <div class="icon-text">

                            <a href="mailto:mihirpg2014@gmail.com"> <img class="icon"
                                    src="{% static 'images/gmail.png' %}" alt=""></a>
                            <p>Gmail</p>

                        </div>

                        <div class="icon-text">

                            <a href="https://www.instagram.com/_mihirgujarathi_014/"> <img class="icon"
                                    src="{% static 'images/instagram.png' %}" alt=""></a>
                            <p>Instagram</p>

                        </div>

                    </div>

                </div>

                <div class="text-container">
                    <h4>Mihir Gujarathi</h4>
                    <p>I am a Computer Science student with a penchant for design and making innovative, user-friendly web design. I am looking to expand my knowledge in the industry.</p>
                </div>

            </div>

        </div>
    </div>



</div>

<script>

    ashu_card = document.getElementById("ashu-card");
    mihir_card = document.getElementById("mihir-card");

    ashu_img = document.getElementById("ashu-img");
    mihir_img = document.getElementById("mihir-img");

    ashu_card.addEventListener('mouseover', function handleMouseOver() {
        ashu_img.src = "{% static 'images/ashu-avatar-hover.png' %}";
    });

    ashu_card.addEventListener('mouseout', function handleMouseOut() {
        ashu_img.src = "{% static 'images/ashu-avatar.png' %}"
    });

    mihir_card.addEventListener('mouseover', function handleMouseOver() {
        mihir_img.src = "{% static 'images/mihir-avatar-hover.png' %}";
    });

    mihir_card.addEventListener('mouseout', function handleMouseOut() {
        mihir_img.src = "{% static 'images/mihir-avatar.png' %}"
    });

</script>


{% endblock %}
