{% extends "base.html" %}
{% load static %}
{% url 'login' as login %}
{%block titleblock%} SocioClub | Home {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/index.css'%}"> {%endblock%}

{% block mainblock %}

<div class="box1 right"></div>
<div class="box2"></div>
<div class="box3"></div>
<div class="box4"></div>

<div class="main-box">
    <div class="headline-box">
        <h1>Your necessities are now a click away</h1>
        <h3>We provide you the simplest way to fulfill your requirements within the society</h3>

        {% if user.is_authenticated %}
        <div class="user-auth-btn">
            <a href="{% url 'user_profile' %}" class="btn">Welcome {{user_firstname}} </a>
            <a href="{% url 'logout' %}" class="btn">Logout</a>
        </div>
        {% else %}
        <a href="{% url 'login' %}" class="btn">Login</a>
        {% endif %}
    </div>

    <div class="image-box">
        <img src="{% static 'images/index.png' %}" alt="Illustration">
    </div>
</div>



{% endblock %}


