{% extends "base.html" %}
{% load static %}
{%block titleblock%} SocioClub | Maintenance {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/maintenance.css'%}"> {%endblock%}

{% block mainblock %}


<!-- hme price add krna he like water ,  electicity , maintenanance bus show krna he *** star use krke  -->
<div class="maintenance-container">

    <div class="mt-left">
        <h3>{{society_name}}</h3>
        <hr>

        <div class="only-table-main">
            <table>
                <thead>

                    <tr>
                        <th>Flat/Wing No. </th>
                        <th>Amount</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Payment Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for m in maintenance_data %}

                    <tr>
                        <td>{{flat}}</td>
                        <td>option1</td>
                        <td>{{m.maintenance_month}}</td>
                        <td>{{m.maintenance_year}}</td>

                        {% if m.payment_date == "" %}
                        <td>Not Paid</td>
                        {% else %}
                        <td>{{m.payment_date}}</td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    

    </div>

    <div class="mt-right">
        <div class="mt-right-text">
            <p>** If the Maintenance Amount is already paid , and it's not showing in the history table kindly request
                to
                the secratory by submitting the below form. **</p>
            <h5>Thanks for the Consideration</h5>

        </div>

        <div class="mt-right-form">
            <form action="">

                <label>Date</label>
                <input type="date">

                <!-- <label>Flat Status</label>
                <select>
                    <option value="">Owner</option>
                    <option value="">Tenant</option>
                </select> -->

                <label>Amount</label>
                <input type="text">

                <input type="submit" value="Request">


            </form>

        </div>
    </div>

</div>

<script>
    console.log("{{flat}}")
</script>

{% endblock %}