{% extends "base.html" %}
{% load static %}
{%block titleblock%} SocioClub | Maintenance {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/maintenance.css'%}"> {%endblock%}

{% block mainblock %}


<!-- hme price add krna he like water ,  electicity , maintenanance bus show krna he *** star use krke  -->
<div class="maintenance-container">

    <div class="mt-left">
        <h3>{{society_name}}</h3>
        <hr>
        <table>
            <tr>
                <th>Flat/Wing No. </th>
                <th>Amount</th>
                <th>Month</th>
                <th>Year</th>
                <th>Payment Date</th>
            </tr>
            <tr>
                <td>option1</td>
                <td>option1</td>
                <td>option1</td>
                <td>option1</td>
                <td>option1</td>
            </tr>

        </table>

        <!-- <p class="normal-text">

            Payment Stucture <br>
            *Water : 200 ruppes <br>
            *Electricity : 400 rupees <br>
            *Maintenance : 1000 rupees <br>
            *Total : 1600 exclude CGST <br>
        </p> -->


    </div>

    <div class="mt-right">
        <div class="mt-right-text">
            <p>** If the Maintenance Amount is already paid , and it's not showing in the history table kindly request to
                the secratory by submitting the below form. **</p>
            <h5>Thanks for the Consideration</h5>

        </div>

        <div class="mt-right-form">
            <form action="">

                <label>Date</label>
                <input type="date">

                <!-- <label>Flat Status</label>
                <select>
                    <option value="">Owner</option>
                    <option value="">Tenant</option>
                </select> -->

                <label>Amount</label>
                <input type="text">

                <input type="submit" value="Request">


            </form>

        </div>
    </div>

</div>
{% endblock %}