{% extends "base.html" %}
{% load static %}
{%block titleblock%} SocioClub | Maintenance {% endblock %}


{%block cssblock%} <link rel="stylesheet" href="{% static 'css/maintenance.css'%}"> {%endblock%}

{% block mainblock %}


    <!-- hme price add krna he like water ,  electicity , maintenanance bus show krna he *** star use krke  -->
    <div class="maintenance-container">

        <div class="mt-left">
            <h3>Society Name </h3>
            <table>
                <tr>
                    <th>Date</th>
                    <th>wing/flat No.</th>
                    <th>Amount</th>
                </tr>
                <tr>
                    <td>option1</td>
                    <td>option1</td>
                    <td>option1</td>
                </tr>
                <tr>
                    <td>option2</td>
                    <td>option2</td>
                    <td>option2</td>
                </tr>
                <tr>
                    <td>option3</td>
                    <td>option3</td>
                    <td>option3</td>
                </tr>


            </table>
            <blockquote >
                <p class="normal-text">

                    Payment Stucture <br>
                    *Water : 200 ruppes <br>
                    *Electricity : 400 rupees <br>
                    *Maintenance : 1000 rupees <br>
                    *Total : 1600 exclude CGST <br>

            </blockquote>

            </p>


        </div>

        <div class="mt-right">
            <form action="">

                <!-- <div class="row"> -->
                <label>Date</label>
                <input type="date">
                <!-- </div> -->

                <!-- <div class="row"> -->

                <label>Society Name</label>
                <select>
                    <option value="">Society 1</option>
                    <option value="">Soceity 2</option>
                    <option value="">Soceity 3</option>
                    <option value="">Soceity 4</option>
                </select>

                <!-- </div> -->

                <!-- <div class="row"> -->

                <label>Wing and Flat Number</label>
                <input type="text">

                <!-- </div> -->

                <!-- <div class="row"> -->
                <label>Amount</label>
                <input type="text">
                <!-- </div> -->
                <input type="submit" value="PAY">


            </form>
        </div>

    </div>
{% endblock %}