{% extends "base.html" %}
{% load static %}
{% url 'login' as login %}
{%block titleblock%} SocioClub | Sec Complain {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/sec-complain.css'%}"> {%endblock%}

{% block mainblock %}


<div class="sec-container">

    <div class="sec-left">
        <h3>Secretary Complain</h3>
        <hr>
        <table>
            <tr>
                <th>Date</th>
                <th>Complain Name </th>
                <th>Complain Type</th>
                <th>Status</th>
                <!-- <th>Payment Date</th> -->
                <th></th>
            </tr>

            <!-- {% for m in maintenance_data %}
            <tr>
                <td>{{flat}}</td>
                <td>option1</td>
                <td>{{m.maintenance_month}}</td>
                <td>{{m.maintenance_year}}</td>

                {% if m.payment_date == "" %}
                    <td>Not Paid</td>
                {% else %}
                    <td>{{m.payment_date}}</td>
                {% endif %}

            </tr>

            {% endfor %} -->

            <tr>
                <td>option</td>
                <td>option</td>
                <td>option</td>
                <td>option</td>
                <!-- <td>option</td> -->
                <td> <button class="select-btn">Select</button></td>
            </tr>
           
           
            
        </table>

    </div>

    <div class="sec-right">
        <div class="sec-right-text">
            <!-- <p>** If the Maintenance Amount is already paid , and it's not showing in the history table kindly request to
                the secratory by submitting the below form. **</p>
            <h5>Thanks for the Consideration</h5> -->

        </div>

        <div class="sec-right-form">
            <form action="">

                <label>Date</label>
                <input type="text">
                <label>Complain Name</label>
                <input type="text"> 
                <label>Complain Type</label>
                <input type="text">
                <label>Status</label>
                <input type="text">
                <!-- <label>Payment Date</label>
                <input type="text"> -->

                <input type="submit" value="Add">


            </form>

        </div>
    </div>

</div>

<!-- <h1>
    Events
</h1>
<form method="POST" action="{% url 'secretary'%}">
    {% csrf_token %}

    <input type="text" placeholder="Name" name="event-name">
    <input type="number" placeholder="Decription" name="event-desc">
    <input type="number" placeholder="Start Date" name="event-start-date">
    <input type="text" placeholder="End Date" name="event-end-date" >
    <input type="submit">
</form>

<h1>Complain</h1>
<form method="POST" action="{% url 'secretary'%}">
    {% csrf_token %}

    <input type="text" placeholder="Status" name="complain-status">
    
    <input type="submit">
</form> -->



{% endblock %}