{% extends "base.html" %}
{% load static %}
{% url 'login' as login %}
{%block titleblock%} SocioClub | Secretary {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/sec-main.css'%}"> {%endblock%}

{% block mainblock %}


<div class="sec-container">

    <div class="sec-left">
        <h3>Secretary Maintenance</h3>
        <hr>
        <div class="only-table-main">

            <table>
                <thead>
                    <tr>
                        <th>Flat/Wing No. </th>
                        <th>Amount</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Payment Date</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for m in maintenance_data %}

                    <tr>
                        <td>{{m.maintenance_flat}}</td>
                        <td>{{m.maintenance_amount}}</td>
                        <td>{{m.maintenance_month}}</td>
                        <td>{{m.maintenance_year}}</td>

                        {% if m.payment_date == "" %}
                        <td>Not Paid</td>
                        {% else %}
                        <td>{{m.payment_date}}</td>
                        {% endif %}

                        <td> <button class="select-btn" onclick="func('{{m.maintenance_flat}}', {{m.maintenance_amount}}, {{m.maintenance_month}}, {{m.maintenance_year}})">Select</button></td>
                    </tr>
                    {% endfor %}


                </tbody>



            </table>
        </div>
    </div>

    <div class="sec-right">
        <div class="sec-right-text">
            <!-- <p>** If the Maintenance Amount is already paid , and it's not showing in the history table kindly request to
                the secratory by submitting the below form. **</p>
            <h5>Thanks for the Consideration</h5> -->

        </div>

        <div class="sec-right-form">
            <form method="POST" action="{% url 'sec_main' %}">
                {% csrf_token %}

                <label>Flat no</label>
                {% if error %}
                <input type="text" name="sec_flat" id="sec_flat" placeholder="Flat Does Not Exist">
                {% else %}
                <input type="text" name="sec_flat" id="sec_flat" placeholder="Enter Your Flat No">
                {% endif %}
                <label>Amount</label>
                <input type="text" id="sec_amount">
                <label>Month</label>
                <input type="text" name="sec_month" id="sec_month">
                <label>Year</label>
                <input type="text" name="sec_year" id="sec_year">
                <label>Payment Date</label>
                <input type="datetime-local" name="sec_payment_date" id="sec_payment_date">

                <input type="submit" value="Add">


            </form>

        </div>
    </div>

</div>

<script>

    console.log("Working JS")

    function func(flat, amount, month, year) {

        console.log("Beginning of function");
        sec_flat = document.getElementById("sec_flat");
        sec_amount = document.getElementById("sec_amount");
        sec_month = document.getElementById("sec_month");
        sec_year = document.getElementById("sec_year");
        sec_payment_date = document.getElementById("sec_payment_date");

        sec_flat.value = flat;
        sec_amount.value = amount;
        sec_month.value = month;
        sec_year.value = year;
        // sec_payment_date.value = date;
        console.log("Ending of function");

    }

</script>

{% endblock %}