{% extends "base.html" %}
{% load static %}
{% url 'login' as login %}
{%block titleblock%} SocioClub | Sec Complain {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/sec-complain.css'%}"> 
<!-- <link rel="stylesheet" href="{% static 'css/global.css'%}"> -->
{%endblock%}
{% block mainblock %}



<div class="sec-container">

    <div class="sec-left">
        <h3>Secretary Complain</h3>
        <hr>
        <div class="only-table-main">

            <table>

                <thead>

                    <tr>
                        <th>Date</th>
                        <th>Flat No. </th>
                        <th>Complain Description </th>
                        <th>Status</th>
                        <th>Complain Type</th>
                        <!-- <th>Payment Date</th> -->
                        <th></th>
                        <th></th>
                    </tr>
                    
                </thead>
                <!-- {% for m in maintenance_data %}
            <tr>
                <td>{{flat}}</td>
                <td>option1</td>
                <td>{{m.maintenance_month}}</td>
                <td>{{m.maintenance_year}}</td>

                {% if m.payment_date == "" %}
                    <td>Not Paid</td>
                {% else %}
                    <td>{{m.payment_date}}</td>
                {% endif %}

            </tr>

            {% endfor %} -->
            <tbody>

                {%if complains%}

                {% for c in complains %}
                <tr>
                    <td data-column="Date">{{c.complain_date}}</td>
                    <td data-column="Complain Name">{{c.flat}}</td>
                    <td data-column="Complain Description">{{c.complain_description}}</td>
                    <td data-column="Solution">{{c.complain_status}}</td>
                    <td data-column="Complain Type">{{c.complain_type}}</td>
                    <td> <button class="select-btn green">Select</button></td>
                    <!-- <td> <button class="select-btn red ">Delete</button></td> -->
                </tr>
                {% endfor %}

                {%else%}

                <td data-column="Date">No Records Found</td>
                <td data-column="Complain Name">No Records Found</td>
                <td data-column="Complain Type">No Records Found</td>
                <td data-column="Status">No Records Found</td>
                <td data-column="Status">No Records Found</td>


                {%endif%}
                
            </tbody>


            </table>

        </div>
    </div>

    <div class="sec-right">
        <div class="sec-right-text">
            <!-- <p>** If the Maintenance Amount is already paid , and it's not showing in the history table kindly request to
                the secratory by submitting the below form. **</p>
            <h5>Thanks for the Consideration</h5> -->

        </div>

        <div class="sec-right-form">
            <form action="">

                <label>Date</label>
                <input type="text" placeholder="Date" readonly>
                <label>Flat No.</label>
                <input type="text" placeholder="Flat No." readonly>
                <label>Complain Type</label>
                <input type="text" placeholder="Complain type" readonly>
                <label>Solution</label>
                <textarea id="complain-solution" name="complain-solution" rows="10" placeholder="Complain Solution" maxlength="500" required></textarea>
                <!-- <label>Payment Date</label>
                <input type="text"> -->

                <div class="add-update">

                    <input type="submit" value="Add">
                    <input type="submit" value="Update">
                </div>


            </form>

        </div>
    </div>

</div>

<!-- <h1>
    Events
</h1>
<form method="POST" ">
    {% csrf_token %}

    <input type="text" placeholder="Name" name="event-name">
    <input type="number" placeholder="Decription" name="event-desc">
    <input type="number" placeholder="Start Date" name="event-start-date">
    <input type="text" placeholder="End Date" name="event-end-date" >
    <input type="submit">
</form>

<h1>Complain</h1>
<form method="POST" %}">
    {% csrf_token %}

    <input type="text" placeholder="Status" name="complain-status">
    
    <input type="submit">
</form> -->



{% endblock %}