{% extends "base.html" %}
{% load static %}
{% url 'login' as login %}
{%block titleblock%} SocioClub | Secretary Complain {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/sec-complain.css'%}">
{%endblock%}
{% block mainblock %}



<div class="sec-container">

    <div class="sec-left">
        <h3>Secretary Complain</h3>
        <hr>
        <div class="only-table-main">

            <table>

                <thead>

                    <tr>
                        <th class="th-1">Date</th>
                        <th class="th-2">Flat No. </th>
                        <th class="th-3">Complain Description </th>
                        <th class="th-4">Solution</th>
                        <th class="th-5">Complain Type</th>
                        <th></th>
                    </tr>

                </thead>
              
                <tbody>

                    {%if complains%}

                    {% for c in complains %}
                    <tr>
                        <td data-column="Date">{{c.complain_date}}</td>
                        <td data-column="Flat Name">{{c.flat}}</td>
                        <td data-column="Complain Description">{{c.complain_description}}</td>
                        <td data-column="Solution">{{c.complain_solution}}</td>
                        <td data-column="Complain Type">{{c.complain_type}}</td>
                        <td> <button class="select-btn"
                                onclick="select_complain('{{c.id}}','{{c.complain_date}}' , '{{c.flat}}' ,'{{c.complain_type}}')">Select</button>
                        </td>
                    </tr>
                    {% endfor %}

                    {%else%}

                    <td data-column="Date">No Records Found</td>
                    <td data-column="Flat no">No Records Found</td>
                    <td data-column="Complain Decription">No Records Found</td>
                    <td data-column="Solution">No Records Found</td>
                    <td data-column="Complain Type">No Records Found</td>


                    {%endif%}

                </tbody>


            </table>

        </div>
    </div>

    <div class="sec-right">
        <div class="sec-right-text">
          
        </div>

        <div class="sec-right-form">
            <form action="{% url 'sec_complain' %}" method="POST" id="update_form">
                {% csrf_token %}

                <label>Date</label>
                <input type="text" placeholder="Date" name="complain_date" id="complain_date" readonly>
                <label>Flat No.</label>
                <input type="text" placeholder="Flat No." name="complain_flat" id="complain_flat" readonly>
                <label>Complain Type</label>
                <input type="text" placeholder="Complain type" name="complain_type" id="complain_type" readonly> 
                <label>Solution</label>
                <textarea id="complain_solution" name="complain_solution" rows="10" placeholder="Complain Solution"
                    maxlength="500" required  ></textarea>
                

                <div class="add-update">

                    <input type="submit" value="Update">
                </div>


            </form>

        </div>
    </div>

</div>

<script>

    var update_id = 0;

    complain_date = document.getElementById("complain_date");
    complain_flat = document.querySelector("#complain_flat");
    complain_type = document.querySelector("#complain_type");


    function select_complain(id, date, flat, type) {

        update_id = id;

        complain_date.value = date;
        complain_flat.value = flat;
        complain_type.value = type;

        document.getElementById("update_form").action = "{% url 'index' %}"+"update_complain/" + update_id +"/";

    }
</script>


{% endblock %}