{% extends "base.html" %}
{% load static %}
{% url 'login' as login %}
{%block titleblock%} SocioClub | Sec Event {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/sec-event.css'%}"> {%endblock%}

{% block mainblock %}

<div class="dialogue-box">
    <div class="box">
        <h4>Are you sure you want to delete this record</h4>
            <form method="POST" class="box-btn" onsubmit="event.preventDefault();" id="delete_form">
                {% csrf_token %}

                <button onclick="del()" type="submit">YES</button>
                <button onclick="closeBox()">NO</button>

            </form>
    </div>
</div>

<div class="sec-container">

    <div class="sec-left">
        <h3>Secretary Event</h3>
        <hr>
        <div class="only-table-main">
            <table>
                <thead>
                    <tr>
                        <th class="name">Name</th>
                        <th class="desc">Description</th>
                        <th class="date">Start Date</th>
                        <th class="date">End Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <!-- {% for m in maintenance_data %}
            <tr>
                <td>{{flat}}</td>
                <td>option1</td>
                <td>{{m.maintenance_month}}</td>
                <td>{{m.maintenance_year}}</td>

                {% if m.payment_date == "" %}
                    <td>Not Paid</td>
                {% else %}
                    <td>{{m.payment_date}}</td>
                {% endif %}

            </tr>

            {% endfor %} -->
                <tbody>
                    {% for e in events %}
                    <tr>
                        <td class="name">{{e.event_name}}</td>
                        <td class="desc">{{e.event_description}}</td>
                        <td class="date">{{e.event_start_date}}</td>
                        <td class="date">{{e.event_end_date}}</td>
                        <td> <button class="select-btn" 
                            onclick="select_event(
                                '{{e.id}}', 
                                '{{e.event_name}}', 
                                '{{e.event_description}}',
                                '{{e.event_start_date}}',
                                '{{e.event_end_date}}')">Select</button></td>
                        <td> <button onclick="del_event('{{e.id}}')" class="select-btn">Delete</button></td>
                    </tr>
                    {% endfor %}

                </tbody>


            </table>
        </div>
    </div>

    <div class="sec-right">
        <div class="sec-right-text">
            <!-- <p>** If the Maintenance Amount is already paid , and it's not showing in the history table kindly request to
                the secratory by submitting the below form. **</p>
            <h5>Thanks for the Consideration</h5> -->

        </div>

        <div class="sec-right-form">
            <form method="POST" action="{% url 'sec_event' %}" id="update_form">

                {% csrf_token %}
                <label>Name</label>
                <input type="text" name="event_name" maxlength="100" id="event_name" placeholder="Name" required>
                <label>Description</label>

                <textarea id="event_description" name="event_description" rows="10" placeholder="Event Description" maxlength="500" required></textarea>

                <label>Start Date</label>
                <input type="datetime-local"  name="event_start_date" id="event_start_date">
                <label>End Date</label>
                <input type="datetime-local" name="event_end_date" id="event_end_date">

                <div class="add-update">

                    <input type="submit" value="Add">
                    <input type="submit" onclick="upd()" value="Update" id="update-btn" style="visibility: hidden;">
                </div>


            </form>

        </div>
    </div>

</div>

<script>

    
    console.log("Working JS");
    var delete_id = 0;
    var update_id = 0;
    
    var dialogue_box = document.querySelector(".dialogue-box");
    var sec_container = document.querySelector(".sec-container");
    
    var delete_form = document.getElementById('delete_form');
    var update_form = document.getElementById('update_form');
    
    event_name = document.getElementById("event_name");
    event_description = document.getElementById("event_description");
    event_start_date = document.getElementById("event_start_date");
    event_end_date = document.getElementById("event_end_date");
 
    {% if error %}
        event_name.placeholder = "Select Something to Update";
        event_description.placeholder = "Select Something to Update";
        event_name.value = "";
        event_description.value = "";
    {% endif %}

    function select_event(id, name, desc, start, end) {

        console.log("Update ID is: " + id);
        update_id = id;


        var var1 = start.split(",").map(function(item){
            return item.trim();
        });

        var now = new Date(var1[0]);
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());

        var start_date = now.toISOString().slice(0,16);
        start_date = start_date.replace(start_date.substring(0,4), var1[1]);

        var var2 = end.split(",").map(function(item){
            return item.trim();
        });
        
        var now = new Date(var2[0]);
        now.setMinutes(now.getMinutes() - now.getTimezoneOffset());

        var end_date = now.toISOString().slice(0,16);
        end_date = end_date.replace(end_date.substring(0,4), var2[1]);

        document.getElementById('update-btn').style.visibility = "";


        event_name.value = name;
        event_description.value = desc;
        event_start_date.value = start_date;
        event_end_date.value = end_date;
        console.log("Ending of function");

    }

    function upd() {
        console.log("Update form 1st line: " + update_id);
        document.getElementById('update_form').action = "http://127.0.0.1:8000/update_event/" + update_id +"/";
        console.log("Updated action for update event");
    }
     
    function del_event(id) {
        delete_id = id;
        console.log("delete id: " + id);
        delete_form.action = "http://127.0.0.1:8000/delete_event/" + delete_id +"/";
        // console.log(delete_form.action)
        // console.log(delete_form.onsubmit)
        openBox();
    }
    
    function openBox() {
        dialogue_box.style.transform = "translate(-50% , -50%) scale(1)";
        sec_container.classList.add("blur");
    }
    
    function closeBox() {
        dialogue_box.style.transform = "translate(-50% , -50%) scale(0)";
        sec_container.classList.remove("blur");
    }

    function del() {
        console.log("Actually deleting");
        console.log(delete_id);
        delete_form.submit();
        closeBox();
    }

</script>



{% endblock %}