{% extends "base.html" %}
{% load static %}
{% url 'login' as login %}
{% url 'index' as index %}
{% url 'delete_main' as delete_main %}

{%block titleblock%} SocioClub | Secretary Maintenance{% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/sec-main.css'%}"> {%endblock%}

{% block mainblock %}


<div class="dialogue-box">
    <div class="box">
        <h4>Are you sure you want to delete this record</h4>
            <form method="POST" class="box-btn" onsubmit="event.preventDefault();" id="delete_form">
                {% csrf_token %}

                <button onclick="del()" type="submit">YES</button>
                <button onclick="closeBox()">NO</button>

            </form>
    </div>
</div>

<div class="sec-container">
    <div class="sec-left">
        <h3>Secretary Maintenance</h3>
        <hr>

        <div class="only-table-main">

            <table>
                <thead>
                    <tr>
                        <th>Flat/Wing No. </th>
                        <th>Amount</th>
                        <th>Month</th>
                        <th>Year</th>
                        <th>Payment Date</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for m in maintenance_data %}

                    <tr>
                        <td>{{m.maintenance_flat}}</td>
                        <td>{{m.maintenance_amount}}</td>
                        <td>{{m.maintenance_month}}</td>
                        <td>{{m.maintenance_year}}</td>

                        {% if m.payment_date == "" %}
                        <td>Not Paid</td>
                        {% else %}
                        <td>{{m.payment_date}}</td>
                        {% endif %}
 
                        
                        <td> <button class="select-btn" onclick="select_main('{{m.id}}', '{{m.maintenance_flat}}', {{m.maintenance_amount}}, {{m.maintenance_month}}, {{m.maintenance_year}})">Select</button>
                        </td>
                        <td> <button class="select-btn" onclick="del_main('{{m.id}}')">Delete</button></td>
                    </tr>
                    {% endfor %}


                </tbody>



            </table>
        </div>
    </div>

    <div class="sec-right">

        <div class="sec-right-form">
            <form method="POST" action="{% url 'sec_main' %}" id="update_form">
                {% csrf_token %}

                <label>Flat no</label>
                {% if error %}
                <input type="text" class="error" name="sec_flat" id="sec_flat" placeholder="Flat Does Not Exist" required>
                {% else %}
                <input type="text" name="sec_flat" id="sec_flat" placeholder="Enter Your Flat No" required>
                {% endif %}
                <label>Amount</label>
                <input type="text" id="sec_amount" name="sec_amount" placeholder="Amount" value="{{society_amount}}" required>
                <label>Month</label>
                <input type="text" name="sec_month" id="sec_month" placeholder="Enter Month" required>
                <label>Year</label>
                <input type="text" name="sec_year" id="sec_year" placeholder="Enter Year" required>
                <label>Payment Date</label>
                <input type="datetime-local" name="sec_payment_date" id="sec_payment_date">

                <div class="add-update">

                    <input type="submit" value="Add">
                    <input type="submit" onclick="upd_main()" value="Update" id="update-btn" style="visibility: hidden;">
                </div>


            </form>

        </div>
    </div>

</div>

<script>

    var delete_id = 0;
    var update_id = 0;

    var dialogue_box = document.querySelector(".dialogue-box");
    var sec_container = document.querySelector(".sec-container");

    var delete_form = document.getElementById('delete_form');
    var update_form = document.getElementById('update_form');
    
    function select_main(id, flat, amount, month, year) {

        update_id = id;

        sec_flat = document.getElementById("sec_flat");
        sec_amount = document.getElementById("sec_amount");
        sec_month = document.getElementById("sec_month");
        sec_year = document.getElementById("sec_year");
        sec_payment_date = document.getElementById("sec_payment_date");

        document.getElementById('update-btn').style.visibility = "";

        sec_flat.value = flat;
        sec_amount.value = amount;
        sec_month.value = month;
        sec_year.value = year;

    }

    function upd_main() {
        document.getElementById('update_form').action = "http://127.0.0.1:8000/update_main/" + update_id +"/";
    }
     
    function del_main(id) {
        delete_id = id;
        delete_form.action = "http://127.0.0.1:8000/delete_main/" + delete_id +"/";
        openBox();
    }
    
    function openBox() {
        dialogue_box.style.transform = "translate(-50% , -50%) scale(1)";
        sec_container.classList.add("blur");
    }
    
    function closeBox() {
        dialogue_box.style.transform = "translate(-50% , -50%) scale(0)";
        sec_container.classList.remove("blur");
    }

    function del() {
        delete_form.submit();
        closeBox();
    }

</script>

{% endblock %}