{% extends "base.html" %}
{% load static %}
{%block titleblock%} SocioClub | View Complain {% endblock %}


{%block cssblock%}
<link rel="stylesheet" href="{% static 'css/view-complain.css'%}"> {%endblock%}

{% block mainblock %}

<div class="view-complain-container">

    <div class="view-box">
        <a href="{% url 'add_complain' %}">Add Complain</a>
        <a href="{% url 'complain' %}">View Complain</a>
    </div>

    <div class="table-container">

        <div class="only-table">

            <table>
                <thead>
                    <tr>
                        <th class="th-1">Date</th>
                        <th class="th-2">Complain Name</th>
                        <th class="th-3">Complain Description</th>
                        <th class="th-4">Solution</th>
                        <th class="th-5">Complain Type</th>
                        

                    </tr>
                </thead>
                <tbody>

                    {%if complains%}

                    {% for c in complains %}
                    <tr>
                        <td data-column="Date">{{c.complain_date}}</td>
                        <td data-column="Complain Name">{{c.complain_title}}</td>
                        <td data-column="Complain Description">{{c.complain_description}}</td>
                        <td data-column="Solution">{{c.complain_solution}}</td>
                        <td data-column="Complain Type">{{c.complain_type}}</td>
                    </tr>
                    {% endfor %}

                    {%else%}

                    <td data-column="Date">No Records Found</td>
                    <td data-column="Complain Name">No Records Found</td>
                    <td data-column="Complain Type">No Records Found</td>
                    <td data-column="Status">No Records Found</td>
                    <td data-column="Status">No Records Found</td>


                    {%endif%}
                </tbody>
            </table>
        </div>

    </div>



  




</div>


{% endblock %}